In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
from datetime import datetime

In [2]:
#pd.set_option('display.max_rows', None)  
#pd.set_option('display.max_columns', None) 

# warnings.filterwarnings('ignore')

df = pd.read_csv("train.csv")
df.head()

C:\Users\fbdog\AppData\Local\Temp\ipykernel_13700\2804812056.py:6: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,Erkek,4/6/1994,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,Erkek,6/11/1993,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,Erkek,1/15/1986,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,Erkek,6/4/1991,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,Erkek,2 Kasim 1992,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4

In [3]:
df.isnull().sum().sort_values(ascending=True)

Basvuru Yili                                                     0
Burs Aliyor mu?                                                  0
id                                                               0
Degerlendirme Puani                                              1
Universite Adi                                                 132
Cinsiyet                                                       169
Dogum Tarihi                                                   177
Bölüm                                                          231
Baska Bir Kurumdan Burs Aliyor mu?                             231
Universite Turu                                                255
Universite Kacinci Sinif                                       374
Lise Adi                                                       384
Anne Egitim Durumu                                             406
Dogum Yeri                                                     791
Lise Turu                                                      847
Baba Egitim Durumu                                            1007
Lise Bolumu                                                   1009
Lise Sehir                                                    1054
Profesyonel Bir Spor Daliyla Mesgul musunuz?                  1115
Kardes Sayisi                                                 1132
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?          1829
Ikametgah Sehri                                               2037
Universite Not Ortalamasi                                     2753
Lise Mezuniyet Notu                                           5917
Ingilizce Biliyor musunuz?                                    6454
Anne Calisma Durumu                                          11896
Baba Calisma Durumu                                          12618
Girisimcilikle Ilgili Deneyiminiz Var Mi?                    12840
Aktif olarak bir STK üyesi misiniz?                          12842
Baba Sektor                                                  20378
Stk Projesine Katildiniz Mi?                                 28308
Spor Dalindaki Rolunuz Nedir?                                32275
Anne Sektor                                                  34537
Ingilizce Seviyeniz?                                         36533
Daha Once Baska Bir Universiteden Mezun Olmus                37345
Burslu ise Burs Yuzdesi                                      42685
Burs Aldigi Baska Kurum                                      43977
Baska Kurumdan Aldigi Burs Miktari                           44162
Uye Oldugunuz Kulubun Ismi                                   48691
Hangi STK'nin Uyesisiniz?                                    49518
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?    50526
Lise Adi Diger                                               60392
Lise Bolum Diger                                             63599
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite        64706
dtype: int64

In [4]:
df = df.dropna(subset=['Degerlendirme Puani'])

In [5]:
def how_many_types(dataframe, col_name):
    
    diff_types = set(dataframe[col_name].apply(type))
    num_of_diff_types =len(diff_types)
    print(f"Sütunda {num_of_diff_types} farklı veri tipi var: {diff_types} ")

# Bütün harfleri küçük yapma
def all_letters_lowered(dataframe, col_name):
    """
    Belirtilen bir sütundaki tüm string değerleri küçük harfe çevirir.
    
    Parametreler:
    dataframe (pd.DataFrame): İşlem yapılacak DataFrame.
    col_name (str): Tüm string değerlerinin küçük harfe çevrileceği sütunun adı.
    
    İşlev:
    - Verilen sütundaki tüm string ifadeler `.str.lower()` ile küçük harfe dönüştürülür.
    
    Not:
    - Bu fonksiyon doğrudan orijinal DataFrame üzerinde değişiklik yapar (`inplace=True` gibi davranır).
    
    Örnek kullanım:
    all_letters_lowered(df, 'column_name')
    """
    dataframe[col_name] = dataframe[col_name].str.lower()


# Eşsiz değerleri ve NaN değerleri görme
def values_and_nulls(dataframe, col_name):
    """
    Belirtilen bir sütundaki eşsiz değerleri ve NaN değerlerinin sayısını gösterir.
    
    Parametreler:
    dataframe (pd.DataFrame): İşlem yapılacak DataFrame.
    col_name (str): Eşsiz değerlerin ve NaN değerlerinin sayısının hesaplanacağı sütun adı.
    
    İşlev:
    1. Sütundaki eşsiz değerleri ve bu değerlerin kaç kere tekrar ettiğini gösterir.
    2. Sütundaki NaN (eksik) değerlerin sayısını gösterir.
    
    Çıktı:
    - Sütundaki eşsiz değerlerin sıklığı.
    - NaN değerlerin sayısı.
    """
    print(dataframe[col_name].value_counts(), end="\n\n")
    print("NaN: ", dataframe[col_name].isnull().sum())

# NaN değerleri doldurma
def fill_missing_values(dataframe, col_name, value):
    """
    DataFrame'deki belirli bir sütundaki eksik (NaN) değerleri verilen değer ile doldurur.
    
    Parametreler:
    df (pd.DataFrame): İşlem yapılacak DataFrame.
    column (str): Eksik değerlerin doldurulacağı sütunun adı.
    value: Eksik değerlerin yerine yazılacak değer.
    """
    dataframe[col_name] = dataframe[col_name].fillna(value)

# CİNSİYET

In [6]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
Kadın                    32076
Erkek                    22752
ERKEK                    10012
Belirtmek istemiyorum      115
Name: count, dtype: int64

NaN:  169

In [7]:
all_letters_lowered(df,"Cinsiyet")
fill_missing_values(df, "Cinsiyet", "Belirtmek istemiyorum")

In [8]:
mapping_sex = {"erkek": 1, "kadın": 2, "Belirtmek istemiyorum": 0}
df["Cinsiyet"] = df["Cinsiyet"].map(mapping_sex)
df["Cinsiyet"] = df["Cinsiyet"].fillna(0).astype(int)

In [9]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
1    32764
2    32076
0      284
Name: count, dtype: int64

NaN:  0

# DOĞUM TARİHİ

In [10]:
values_and_nulls(df, "Dogum Tarihi")

Dogum Tarihi
1/1/70 2:00         1655
1/1/00 0:00          179
1/1/01 0:00          154
1/1/1997             139
1/1/1998             129
                    ...
1992-05-12             1
1997-03-19             1
1996-08-17             1
1991-04-23             1
12.11.2003 00:00       1
Name: count, Length: 13498, dtype: int64

NaN:  177

In [11]:
df['Dogum Tarihi'] = pd.to_datetime(df['Dogum Tarihi'], errors='coerce')

In [12]:
df["Dogum Tarihi"]

0       1994-04-06
1       1993-06-11
2       1986-01-15
3       1991-06-04
4              NaT
           ...
65119          NaT
65120          NaT
65121          NaT
65122          NaT
65123          NaT
Name: Dogum Tarihi, Length: 65124, dtype: datetime64[ns]

In [13]:
values_and_nulls(df,"Dogum Tarihi")

Dogum Tarihi
1997-01-01    139
1998-01-01    129
1996-01-01    119
1995-01-01    106
1999-01-01     84
             ...
1992-11-26      1
1990-01-08      1
1988-04-11      1
1990-03-23      1
2000-06-07      1
Name: count, Length: 3370, dtype: int64

NaN:  45937

# Dogum Yeri, İkametgah Sehri, Lise Sehir

In [14]:
import re

def city_simp(dataframe, col_name):
    # Türkiye'nin 81 ili
    cities = ['Adana', 'Adıyaman', 'Afyonkarahisar', 'Ağrı', 'Amasya', 'Ankara', 'Antalya', 'Artvin', 'Aydın', 'Balıkesir', 'Bilecik',
              'Bingöl', 'Bitlis', 'Bolu', 'Burdur', 'Bursa', 'Çanakkale', 'Çankırı', 'Çorum', 'Denizli', 'Diyarbakır', 'Edirne',
              'Elazığ', 'Erzincan', 'Erzurum', 'Eskişehir', 'Gaziantep', 'Giresun', 'Gümüşhane', 'Hakkari', 'Hatay', 'Isparta',
              'Mersin', 'İstanbul', 'İzmir', 'Kars', 'Kastamonu', 'Kayseri', 'Kırklareli', 'Kırşehir', 'Kocaeli', 'Konya', 'Kütahya',
              'Malatya', 'Manisa', 'Kahramanmaraş', 'Mardin', 'Muğla', 'Muş', 'Nevşehir', 'Niğde', 'Ordu', 'Rize', 'Sakarya',
              'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdağ', 'Tokat', 'Trabzon', 'Tunceli', 'Şanlıurfa', 'Uşak', 'Van', 'Yozgat',
              'Zonguldak', 'Aksaray', 'Bayburt', 'Karaman', 'Kırıkkale', 'Batman', 'Şırnak', 'Bartın', 'Ardahan', 'Iğdır',
              'Yalova', 'Karabük', 'Kilis', 'Osmaniye', 'Düzce']
    
    def extract_city(location):
        # 'location' bir string değilse, None döndür
        if not isinstance(location, str):
            return None
        
        # Şehir isimlerinin geçerli olduğu yerleri bulmak için regex kullanılır
        for city in cities:
            if re.search(r'\b' + re.escape(city) + r'\b', location):
                return city
        return None
    
    # Belirtilen sütundaki şehir isimlerini ayıklama
    dataframe[col_name] = dataframe[col_name].apply(extract_city)

In [15]:
city_simp(df,"Dogum Yeri")
city_simp(df,"Ikametgah Sehri")
city_simp(df, "Lise Sehir")

fill_missing_values(df,"Dogum Yeri","Bilinmiyor")
fill_missing_values(df,"Ikametgah Sehri","Bilinmiyor")
fill_missing_values(df,"Lise Sehir","Bilinmiyor")

In [16]:
values_and_nulls(df,"Dogum Yeri")

Dogum Yeri
Bilinmiyor    9765
İstanbul      8865
Ankara        4106
İzmir         2218
Bursa         1839
              ...
Kilis           97
Çankırı         93
Gümüşhane       78
Bayburt         75
Tunceli         50
Name: count, Length: 82, dtype: int64

NaN:  0

# Üniversite Adı

In [17]:
values_and_nulls(df,"Universite Adi")

Universite Adi
İSTANBUL ÜNİVERSİTESİ                      2083
MARMARA ÜNİVERSİTESİ                       1672
İSTANBUL TEKNİK ÜNİVERSİTESİ               1464
YILDIZ TEKNİK ÜNİVERSİTESİ                 1438
ORTA DOĞU TEKNİK ÜNİVERSİTESİ              1258
                                           ...
Brown University                              1
ALANYA HAMDULLAH EMİN PAŞA ÜNİVERSİTESİ       1
İstanbul Bilim Üniversitesi                   1
AVRUPA MESLEK YÜKSEKOKULU                     1
İstanbul Atlas Üniversitesi                   1
Name: count, Length: 527, dtype: int64

NaN:  132

In [18]:
all_letters_lowered(df,"Universite Adi")
fill_missing_values(df,"Universite Adi","Bilinmiyor")

In [19]:
values_and_nulls(df,"Universite Adi")

Universite Adi
i̇stanbul üni̇versi̇tesi̇                      2083
marmara üni̇versi̇tesi̇                        1672
i̇stanbul tekni̇k üni̇versi̇tesi̇              1464
yildiz tekni̇k üni̇versi̇tesi̇                 1438
orta doğu tekni̇k üni̇versi̇tesi̇              1258
                                               ...
selahaddin eyyubi üniversitesi                    1
alanya hamdullah emi̇n paşa üni̇versi̇tesi̇       1
turgut özal üniversitesi                          1
selahaddi̇n eyyubi̇ üni̇versi̇tesi̇               1
i̇stanbul atlas üniversitesi                      1
Name: count, Length: 527, dtype: int64

NaN:  0

# Üniversite Türü

In [20]:
all_letters_lowered(df,"Universite Turu")
fill_missing_values(df,"Universite Turu" , "devlet")
values_and_nulls(df, "Universite Turu")

Universite Turu
devlet    53516
özel      11608
Name: count, dtype: int64

NaN:  0

# Burslu ise Burs Yuzdesi

In [21]:
fill_missing_values(df,"Burslu ise Burs Yuzdesi",0)
values_and_nulls(df, "Burslu ise Burs Yuzdesi")

Burslu ise Burs Yuzdesi
0.0      54856
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        50
60.0        27
1.0         26
65.0        17
80.0        15
5.0         14
30.0        14
85.0        11
2.0         10
55.0         8
62.5         7
62.0         7
35.0         7
45.0         6
7.0          6
70.0         5
99.0         5
20.0         5
40.0         4
90.0         4
63.0         4
6.0          4
3.0          2
8.0          2
98.0         2
46.0         1
82.5         1
69.0         1
88.0         1
64.0         1
4.0          1
87.5         1
57.5         1
57.0         1
91.5         1
11.0         1
41.5         1
49.0         1
74.0         1
72.0         1
32.0         1
48.0         1
37.0         1
67.0         1
41.0         1
67.5         1
Name: count, dtype: int64

NaN:  0

In [22]:
bins = [-1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100']

df['Burslu ise Burs Yuzdesi'] = pd.cut(df['Burslu ise Burs Yuzdesi'], bins=bins, labels=labels, right=True)

In [23]:
values_and_nulls(df,"Burslu ise Burs Yuzdesi")

Burslu ise Burs Yuzdesi
0-10      54971
91-100     5057
41-50      3160
71-80      1019
21-30       799
61-70        44
51-60        37
81-90        18
31-40        13
11-20         6
Name: count, dtype: int64

NaN:  0

# Burs Aliyor mu?

In [24]:
all_letters_lowered(df, "Burs Aliyor mu?")

In [25]:
values_and_nulls(df,"Burs Aliyor mu?")

Burs Aliyor mu?
hayır    52249
evet     12875
Name: count, dtype: int64

NaN:  0

# Bölüm

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65124 entries, 0 to 65123
Data columns (total 44 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65124 non-null  int64
 1   Degerlendirme Puani                                        65124 non-null  float64
 2   Cinsiyet                                                   65124 non-null  int32
 3   Dogum Tarihi                                               19187 non-null  datetime64[ns]
 4   Dogum Yeri                                                 65124 non-null  object
 5   Ikametgah Sehri                                            65124 non-null  object
 6   Universite Adi                                             65124 non-null  object
 7   Universite Turu                                            65124 non-null  object
 8   Burslu ise Burs Yuzdesi                                    65124 non-null  category
 9   Burs Aliyor mu?                                            65124 non-null  object
 10  Bölüm                                                      64893 non-null  object
 11  Universite Kacinci Sinif                                   64750 non-null  object
 12  Universite Not Ortalamasi                                  62371 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              27780 non-null  object
 14  Lise Adi                                                   64740 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 65124 non-null  object
 17  Lise Turu                                                  64277 non-null  object
 18  Lise Bolumu                                                64115 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        59207 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         64893 non-null  object
 22  Burs Aldigi Baska Kurum                                    21147 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20962 non-null  object
 24  Anne Egitim Durumu                                         64718 non-null  object
 25  Anne Calisma Durumu                                        53228 non-null  object
 26  Anne Sektor                                                30587 non-null  object
 27  Baba Egitim Durumu                                         64117 non-null  object
 28  Baba Calisma Durumu                                        52506 non-null  object
 29  Baba Sektor                                                44746 non-null  object
 30  Kardes Sayisi                                              63992 non-null  object
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       63295 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               64009 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              32849 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        52282 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15606 non-null  object
 37  Stk Projesine Katildiniz Mi?                               36817 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  52284 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14598 non-null  object
 40  Ingilizce Biliyor musunuz?                                 58670 non-null  object
 41  Ingilizce Seviyeniz?                                       28592 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
 43  id                                                         65124 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(1), int32(1), int64(2), object(38)
memory usage: 21.7+ MB

# Universite Kacinci Sinif

In [27]:
values_and_nulls(df, "Universite Kacinci Sinif")

Universite Kacinci Sinif
2                21773
3                16956
4                13112
1                10260
Hazırlık          1275
5                  961
Mezun              178
6                  177
hazırlık            33
Yüksek Lisans       15
Tez                  7
0                    3
Name: count, dtype: int64

NaN:  374

In [28]:
all_letters_lowered(df,"Universite Kacinci Sinif")

In [29]:
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2                21773
3                16956
4                13112
1                10260
hazırlık          1308
5                  961
mezun              178
6                  177
yüksek lisans       15
tez                  7
0                    3
Name: count, dtype: int64

NaN:  374

In [30]:
# Mod ile doldurdum.
mode_value = df['Universite Kacinci Sinif'].mode()[0]
fill_missing_values(df,"Universite Kacinci Sinif", mode_value)
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2                22147
3                16956
4                13112
1                10260
hazırlık          1308
5                  961
mezun              178
6                  177
yüksek lisans       15
tez                  7
0                    3
Name: count, dtype: int64

NaN:  0

In [31]:
how_many_types(df,"Universite Kacinci Sinif")

Sütunda 1 farklı veri tipi var: {<class 'str'>}

In [32]:
grades = {
    '0': 7,
    '1' : 1,
    '2': 2,
    '3':3,
    '4':4,
    '5':5,
    '6':6,
    'hazırlık': 0,
    'mezun': 7,
    'yüksek lisans': 8,
    'tez': 9
}

df['Universite Kacinci Sinif'] = df['Universite Kacinci Sinif'].map(grades)

In [33]:
how_many_types(df,"Universite Kacinci Sinif")

Sütunda 1 farklı veri tipi var: {<class 'int'>}

In [34]:
df["Universite Kacinci Sinif"].nunique()

10

# Universite Not Ortalamasi

In [35]:
all_letters_lowered(df,"Universite Not Ortalamasi")
values_and_nulls(df,"Universite Not Ortalamasi")

Universite Not Ortalamasi
3.00-2.50              10758
2.50 ve altı           10554
3.00 - 3.50             7913
3.50-3                  6179
2.50 - 3.00             5782
3.50 - 4.00             4462
ortalama bulunmuyor     2812
2.00 - 2.50             2519
2.50 - 2.99             2451
3.00 - 3.49             2382
2.50 -3.00              1734
3.00 - 4.00             1411
1.80 - 2.49             1166
hazırlığım               668
not ortalaması yok       586
4-3.5                    481
1.00 - 2.50              327
0 - 1.79                 185
4.0-3.5                    1
Name: count, dtype: int64

NaN:  2753

In [36]:
how_many_types(df,"Universite Not Ortalamasi")

Sütunda 2 farklı veri tipi var: {<class 'float'>, <class 'str'>}

In [37]:
fill_missing_values(df,"Universite Not Ortalamasi","yok")

In [38]:
how_many_types(df,"Universite Not Ortalamasi")

Sütunda 1 farklı veri tipi var: {<class 'str'>}

In [39]:
values_and_nulls(df,"Universite Not Ortalamasi")

Universite Not Ortalamasi
3.00-2.50              10758
2.50 ve altı           10554
3.00 - 3.50             7913
3.50-3                  6179
2.50 - 3.00             5782
3.50 - 4.00             4462
ortalama bulunmuyor     2812
yok                     2753
2.00 - 2.50             2519
2.50 - 2.99             2451
3.00 - 3.49             2382
2.50 -3.00              1734
3.00 - 4.00             1411
1.80 - 2.49             1166
hazırlığım               668
not ortalaması yok       586
4-3.5                    481
1.00 - 2.50              327
0 - 1.79                 185
4.0-3.5                    1
Name: count, dtype: int64

NaN:  0

In [40]:
gpa = {
    '3.50-3': 'good',
    '3.00-2.50': 'good',
    'yok': 'yok',
    '2.50 ve altı': 'bad',
    '3.00 - 4.00': 'good',
    '3.50 - 4.00': 'perfect',
    '3.00 - 3.50': 'good',
    '2.50 -3.00': 'good',
    'ortalama bulunmuyor': 'yok',
    '4-3.5': 'perfect',
    '2.50 - 3.00': 'good',
    '2.00 - 2.50': 'bad',
    '1.00 - 2.50': 'bad',
    'not ortalaması yok': 'yok',
    '4.0-3.5':'perfect',
    '3.00 - 3.49':  'good',
    '2.50 - 2.99':  'good',
    '1.80 - 2.49': 'bad',
    'hazırlığım': 'yok',
    '0 - 1.79': 'bad'
}
df['Universite Not Ortalamasi'] = df['Universite Not Ortalamasi'].map(gpa)

In [41]:
values_and_nulls(df,"Universite Not Ortalamasi")

Universite Not Ortalamasi
good       38610
bad        14751
yok         6819
perfect     4944
Name: count, dtype: int64

NaN:  0

# Daha Once Baska Bir Universiteden Mezun Olmus

In [42]:
all_letters_lowered(df,"Daha Once Baska Bir Universiteden Mezun Olmus")
values_and_nulls(df,"Daha Once Baska Bir Universiteden Mezun Olmus")

Daha Once Baska Bir Universiteden Mezun Olmus
hayır    26624
evet      1156
Name: count, dtype: int64

NaN:  37344

In [43]:
fill_missing_values(df,"Daha Once Baska Bir Universiteden Mezun Olmus","hayır")
values_and_nulls(df,"Daha Once Baska Bir Universiteden Mezun Olmus")

Daha Once Baska Bir Universiteden Mezun Olmus
hayır    63968
evet      1156
Name: count, dtype: int64

NaN:  0

# LİSE SÜTUNLARI SONRADAN BAK !!!!!!!!!!

# Baska Bir Kurumdan Burs Aliyor mu?

In [44]:
all_letters_lowered(df,"Baska Bir Kurumdan Burs Aliyor mu?")
values_and_nulls(df,"Baska Bir Kurumdan Burs Aliyor mu?")

Baska Bir Kurumdan Burs Aliyor mu?
hayır    48513
evet     16380
Name: count, dtype: int64

NaN:  231

In [45]:
fill_missing_values(df,"Baska Bir Kurumdan Burs Aliyor mu?","hayır")
values_and_nulls(df,"Baska Bir Kurumdan Burs Aliyor mu?")

Baska Bir Kurumdan Burs Aliyor mu?
hayır    48744
evet     16380
Name: count, dtype: int64

NaN:  0

# Burs Aldigi Baska Kurum BİTMEDİ!!!!

In [46]:
# KYK, kyk, Kyk gibi farklı türevleri hızlıca birleştirmek için hepsini küçük karakter yapıyoruz. Diğer bazı sütunlarda da böyle.
all_letters_lowered(df,"Burs Aldigi Baska Kurum")
values_and_nulls(df,"Burs Aldigi Baska Kurum")

Burs Aldigi Baska Kurum
kyk                                      6666
-                                        4711
kredi ve yurtlar kurumu                   895
kredi yurtlar kurumu                      756
kyk bursu                                 526
                                         ...
divriği kültür derneği                      1
şoförler ve otomobilciler esnaf odası       1
kasapoğlu vakfı                             1
kızılcahamam ve çamlıdereliler vakfı        1
kyk yök bursu                               1
Name: count, Length: 3375, dtype: int64

NaN:  43977

In [47]:
fill_missing_values(df,"Burs Aldigi Baska Kurum","almiyor")
df['Burs Aldigi Baska Kurum'] = df['Burs Aldigi Baska Kurum'].apply(lambda x: 'almiyor' if '-' in x else x)

values_and_nulls(df,"Burs Aldigi Baska Kurum")

Burs Aldigi Baska Kurum
almiyor                              48865
kyk                                   6666
kredi ve yurtlar kurumu                895
kredi yurtlar kurumu                   756
kyk bursu                              526
                                     ...
kai vakfı                                1
hayat vakfı                              1
karadeniz eğitim ve kültür vakfı         1
kredi yurtlar kurumu ( kredi )           1
kyk yök bursu                            1
Name: count, Length: 3219, dtype: int64

NaN:  0

In [48]:
def update_value(value):
    keywords_kyk = ['kredi', 'yurtlar', 'kredi ve yurtlar', 'kredi yurtlar','devlet','kyk','gsb','ky']
    keyword_tev = ["türk eğitim vakfı","türk eği̇ti̇m vakfi"]
    keyword_tubitak = ["tübitak"]
    keyword_ibb = ["i̇stanbul büyükşehir belediyesi"]
    keyword_vgm = ["vakıflar genel müdürlüğü"]

    
    if any(keyword in value.lower() for keyword in keywords_kyk):
        return 'kyk'
    
    if any(keyword in value.lower() for keyword in keyword_tev):
        return 'tev'
    
    if any(keyword in value.lower() for keyword in keyword_tubitak):
        return 'tübitak'

    if any(keyword in value.lower() for keyword in keyword_ibb):
        return 'ibb'

    if any(keyword in value.lower() for keyword in keyword_vgm):
        return 'vgm'
    
    return value

df['Burs Aldigi Baska Kurum'] = df['Burs Aldigi Baska Kurum'].apply(update_value)

In [49]:
value_counts = df['Burs Aldigi Baska Kurum'].value_counts()
values_to_update = value_counts[value_counts < 10].index
df['Burs Aldigi Baska Kurum'] = df['Burs Aldigi Baska Kurum'].apply(lambda x: 'diğer' if x in values_to_update else x)

In [50]:
df["Burs Aldigi Baska Kurum"].value_counts()

Burs Aldigi Baska Kurum
almiyor                                   48865
kyk                                       11906
diğer                                      2773
tev                                         210
çağdaş yaşamı destekleme derneği            120
k                                           103
gençlik ve spor bakanlığı                    80
başbakanlık bursu                            59
vgm                                          55
başbakanlık                                  54
çydd                                         46
mehmet zorlu vakfı                           46
ibb                                          43
bilkent üniversitesi                         42
sabancı vakfı                                41
anadolu vakfı                                41
koç üniversitesi                             41
tübi̇tak                                     38
toplum gönüllüleri vakfı                     37
tübitak                                      32
rönesans eğitim vakfı                        30
özyeğin üniversitesi                         29
yök                                          28
i̇bb                                         27
i̇stanbul ticaret odası                      24
meb                                          22
vehbi koç vakfı                              21
tog                                          21
sabancı üniversitesi                         19
türkiye teknoloji takımı vakfı               18
büvak                                        15
i̇stanbul sanayi odası vakfı                 14
odtü mezunlar derneği                        14
boğaziçi üniversitesi vakfı                  14
tobb ekonomi ve teknoloji üniversitesi       13
ekev                                         13
elginkan vakfı                               13
t3 vakfı                                     13
i̇to                                         13
türk üniversiteli kadınlar derneği           12
ösym                                         12
üniversite                                   12
enka vakfı                                   11
odtü geliştirme vakfı                        11
tog vakfı                                    11
i̇hsan doğramacı bilkent üniversitesi        11
türkiye teknoloji takımı                     11
tekfen vakfı                                 10
d                                            10
tobb etü                                     10
türk eğitim derneği                          10
Name: count, dtype: int64

# Anne Egitim Durumu & Baba Egitim Durumu

In [51]:
def update_edu(df, column_name):
    df.loc[df[column_name].str.contains('ilkokul', case=False, na=False), column_name] = 'ilkokul'
    df.loc[df[column_name].str.contains('lise', case=False, na=False), column_name] = 'lise'
    df.loc[df[column_name].str.contains('üniversite', case=False, na=False), column_name] = 'üniversite'
    df.loc[df[column_name].str.contains('doktora', case=False, na=False), column_name] = 'doktora'
    df.loc[df[column_name].str.contains('yüksek', case=False, na=False), column_name] = 'yüksek lisans'
    df.loc[df[column_name].str.contains('ortaokul', case=False, na=False), column_name] = 'ortaokul'
    df.loc[
        (df[column_name].str.contains('0', case=False, na=False)) |
        (df[column_name].str.contains('eğitimi yok', case=False, na=False)) |
        (df[column_name].str.contains('eğitim yok', case=False, na=False)),
        column_name
    ] = 'yok'
    
    _edu = {
    'ilkokul': 1,
    'ortaokul': 2,
    'lise': 3,
    'üniversite': 4,
    'yüksek lisans': 5,
    'doktora': 6,
    'yok': 0
    }
    fill_missing_values(df,column_name,"yok")
    df[column_name] = df[column_name].map(_edu)

In [52]:
update_edu(df,"Anne Egitim Durumu")
update_edu(df,"Baba Egitim Durumu")

# Anne Çalışma Durumu & Baba Çalışma Durumu

In [53]:
fill_missing_values(df,"Anne Calisma Durumu","yok")
fill_missing_values(df,"Baba Calisma Durumu","yok")

In [54]:
work = {
    'Hayır': 1,
    'Evet': 2,
    'Emekli': 3,
    'yok': 0,
    }
df["Baba Calisma Durumu"] = df["Baba Calisma Durumu"].map(work)
df["Anne Calisma Durumu"] = df["Anne Calisma Durumu"].map(work)

In [55]:
values_and_nulls(df,"Anne Calisma Durumu")
values_and_nulls(df,"Baba Calisma Durumu")

Anne Calisma Durumu
1    39370
0    11896
2    10504
3     3354
Name: count, dtype: int64

NaN:  0
Baba Calisma Durumu
2    28558
0    12618
1    12486
3    11462
Name: count, dtype: int64

NaN:  0

# Anne Sektor & Baba Sektor

In [56]:
def update_sector(df, column_name):
    df.loc[df[column_name].str.contains('özel', case=False, na=False), column_name] = 'özel'
    df.loc[df[column_name].str.contains('kamu', case=False, na=False), column_name] = 'kamu'
    df.loc[df[column_name].str.contains('diğer', case=False, na=False), column_name] = 'diğer'
    df.loc[
        (df[column_name].str.contains('0', case=False, na=False)) |
        (df[column_name].str.contains('-', case=False, na=False)) ,
        column_name
    ] = 'yok'
    
    sector = {
    'kamu': 1,
    'özel': 2,
    'diğer': 3,
    'yok': 0,
    }
    fill_missing_values(df,column_name,"yok")
    df[column_name] = df[column_name].map(sector)

In [57]:
update_sector(df,"Baba Sektor")
update_sector(df,"Anne Sektor")

# Kardes Sayisi

In [58]:
values_and_nulls(df,"Kardes Sayisi")
how_many_types(df,"Kardes Sayisi")

Kardes Sayisi
1.0                                             16186
2.0                                             13061
3.0                                              6734
1                                                6054
4.0                                              4611
2                                                3938
0.0                                              3701
5.0                                              3421
3                                                2087
0                                                1381
4                                                 998
5                                                 715
6.0                                               206
7.0                                               159
6                                                 135
10.0                                              127
7                                                 119
8.0                                                98
9.0                                                79
8                                                  75
9                                                  43
10                                                 42
11                                                 12
12                                                  5
13                                                  2
14                                                  1
18                                                  1
Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat        1
Name: count, dtype: int64

NaN:  1132
Sütunda 2 farklı veri tipi var: {<class 'float'>, <class 'str'>}

In [59]:
fill_missing_values(df,"Kardes Sayisi", 0)
df['Kardes Sayisi'] = df['Kardes Sayisi'].replace({'Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat': '1'})
df['Kardes Sayisi'] = df['Kardes Sayisi'].astype(int)

In [60]:
values_and_nulls(df,"Kardes Sayisi")

Kardes Sayisi
1     22241
2     16999
3      8821
0      6214
4      5609
5      4136
6       341
7       278
8       173
10      169
9       122
11       12
12        5
13        2
18        1
14        1
Name: count, dtype: int64

NaN:  0

# Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?

In [61]:
values_and_nulls(df,"Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?")

Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?
Hayır    33709
Evet     29586
Name: count, dtype: int64

NaN:  1829

In [62]:
fill_missing_values(df,"Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?","Hayır")

# Uye Oldugunuz Kulubun Ismi SONRA BAKICAM !!!!!!!!!!!!!!!!!!!!!

# Profesyonel Bir Spor Daliyla Mesgul musunuz?

In [ ]:
valu