In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
from datetime import datetime

In [33]:
#pd.set_option('display.max_rows', None)  
#pd.set_option('display.max_columns', None) 

# warnings.filterwarnings('ignore')

df = pd.read_csv("train.csv")
df.head()

C:\Users\fbdog\AppData\Local\Temp\ipykernel_1680\2804812056.py:6: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,Erkek,4/6/1994,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,Erkek,6/11/1993,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,Erkek,1/15/1986,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,Erkek,6/4/1991,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,Erkek,2 Kasim 1992,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4

In [34]:
df.isnull().sum().sort_values(ascending=True)

Basvuru Yili                                                     0
Burs Aliyor mu?                                                  0
id                                                               0
Degerlendirme Puani                                              1
Universite Adi                                                 132
Cinsiyet                                                       169
Dogum Tarihi                                                   177
Bölüm                                                          231
Baska Bir Kurumdan Burs Aliyor mu?                             231
Universite Turu                                                255
Universite Kacinci Sinif                                       374
Lise Adi                                                       384
Anne Egitim Durumu                                             406
Dogum Yeri                                                     791
Lise Turu                                                      847
Baba Egitim Durumu                                            1007
Lise Bolumu                                                   1009
Lise Sehir                                                    1054
Profesyonel Bir Spor Daliyla Mesgul musunuz?                  1115
Kardes Sayisi                                                 1132
Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?          1829
Ikametgah Sehri                                               2037
Universite Not Ortalamasi                                     2753
Lise Mezuniyet Notu                                           5917
Ingilizce Biliyor musunuz?                                    6454
Anne Calisma Durumu                                          11896
Baba Calisma Durumu                                          12618
Girisimcilikle Ilgili Deneyiminiz Var Mi?                    12840
Aktif olarak bir STK üyesi misiniz?                          12842
Baba Sektor                                                  20378
Stk Projesine Katildiniz Mi?                                 28308
Spor Dalindaki Rolunuz Nedir?                                32275
Anne Sektor                                                  34537
Ingilizce Seviyeniz?                                         36533
Daha Once Baska Bir Universiteden Mezun Olmus                37345
Burslu ise Burs Yuzdesi                                      42685
Burs Aldigi Baska Kurum                                      43977
Baska Kurumdan Aldigi Burs Miktari                           44162
Uye Oldugunuz Kulubun Ismi                                   48691
Hangi STK'nin Uyesisiniz?                                    49518
Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?    50526
Lise Adi Diger                                               60392
Lise Bolum Diger                                             63599
Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite        64706
dtype: int64

In [35]:
df = df.dropna(subset=['Degerlendirme Puani'])

In [69]:
def how_many_types(dataframe, col_name):
    
    diff_types = set(dataframe[col_name].apply(type))
    num_of_diff_types =len(diff_types)
    print(f"Sütunda {num_of_diff_types} farklı veri tipi var: {diff_types} ")

# Bütün harfleri küçük yapma
def all_letters_lowered(dataframe, col_name):
    """
    Belirtilen bir sütundaki tüm string değerleri küçük harfe çevirir.
    
    Parametreler:
    dataframe (pd.DataFrame): İşlem yapılacak DataFrame.
    col_name (str): Tüm string değerlerinin küçük harfe çevrileceği sütunun adı.
    
    İşlev:
    - Verilen sütundaki tüm string ifadeler `.str.lower()` ile küçük harfe dönüştürülür.
    
    Not:
    - Bu fonksiyon doğrudan orijinal DataFrame üzerinde değişiklik yapar (`inplace=True` gibi davranır).
    
    Örnek kullanım:
    all_letters_lowered(df, 'column_name')
    """
    dataframe[col_name] = dataframe[col_name].str.lower()


# Eşsiz değerleri ve NaN değerleri görme
def values_and_nulls(dataframe, col_name):
    """
    Belirtilen bir sütundaki eşsiz değerleri ve NaN değerlerinin sayısını gösterir.
    
    Parametreler:
    dataframe (pd.DataFrame): İşlem yapılacak DataFrame.
    col_name (str): Eşsiz değerlerin ve NaN değerlerinin sayısının hesaplanacağı sütun adı.
    
    İşlev:
    1. Sütundaki eşsiz değerleri ve bu değerlerin kaç kere tekrar ettiğini gösterir.
    2. Sütundaki NaN (eksik) değerlerin sayısını gösterir.
    
    Çıktı:
    - Sütundaki eşsiz değerlerin sıklığı.
    - NaN değerlerin sayısı.
    """
    print(dataframe[col_name].value_counts(), end="\n\n")
    print("NaN: ", dataframe[col_name].isnull().sum())

# NaN değerleri doldurma
def fill_missing_values(dataframe, col_name, value):
    """
    DataFrame'deki belirli bir sütundaki eksik (NaN) değerleri verilen değer ile doldurur.
    
    Parametreler:
    df (pd.DataFrame): İşlem yapılacak DataFrame.
    column (str): Eksik değerlerin doldurulacağı sütunun adı.
    value: Eksik değerlerin yerine yazılacak değer.
    """
    dataframe[col_name] = dataframe[col_name].fillna(value)

# CİNSİYET

In [37]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
Kadın                    32076
Erkek                    22752
ERKEK                    10012
Belirtmek istemiyorum      115
Name: count, dtype: int64

NaN:  169

In [38]:
all_letters_lowered(df,"Cinsiyet")
fill_missing_values(df, "Cinsiyet", "Belirtmek istemiyorum")

In [39]:
mapping_sex = {"erkek": 1, "kadın": 2, "Belirtmek istemiyorum": 0}
df["Cinsiyet"] = df["Cinsiyet"].map(mapping_sex)
df["Cinsiyet"] = df["Cinsiyet"].fillna(0).astype(int)

In [40]:
values_and_nulls(df, "Cinsiyet")

Cinsiyet
1    32764
2    32076
0      284
Name: count, dtype: int64

NaN:  0

# DOĞUM TARİHİ

In [41]:
values_and_nulls(df, "Dogum Tarihi")

Dogum Tarihi
1/1/70 2:00         1655
1/1/00 0:00          179
1/1/01 0:00          154
1/1/1997             139
1/1/1998             129
                    ...
1992-05-12             1
1997-03-19             1
1996-08-17             1
1991-04-23             1
12.11.2003 00:00       1
Name: count, Length: 13498, dtype: int64

NaN:  177

In [42]:
df['Dogum Tarihi'] = pd.to_datetime(df['Dogum Tarihi'], errors='coerce')

In [43]:
df["Dogum Tarihi"]

0       1994-04-06
1       1993-06-11
2       1986-01-15
3       1991-06-04
4              NaT
           ...
65119          NaT
65120          NaT
65121          NaT
65122          NaT
65123          NaT
Name: Dogum Tarihi, Length: 65124, dtype: datetime64[ns]

In [44]:
values_and_nulls(df,"Dogum Tarihi")

Dogum Tarihi
1997-01-01    139
1998-01-01    129
1996-01-01    119
1995-01-01    106
1999-01-01     84
             ...
1992-11-26      1
1990-01-08      1
1988-04-11      1
1990-03-23      1
2000-06-07      1
Name: count, Length: 3370, dtype: int64

NaN:  45937

# Dogum Yeri, İkametgah Sehri, Lise Sehir

In [45]:
import re

def city_simp(dataframe, col_name):
    # Türkiye'nin 81 ili
    cities = ['Adana', 'Adıyaman', 'Afyonkarahisar', 'Ağrı', 'Amasya', 'Ankara', 'Antalya', 'Artvin', 'Aydın', 'Balıkesir', 'Bilecik',
              'Bingöl', 'Bitlis', 'Bolu', 'Burdur', 'Bursa', 'Çanakkale', 'Çankırı', 'Çorum', 'Denizli', 'Diyarbakır', 'Edirne',
              'Elazığ', 'Erzincan', 'Erzurum', 'Eskişehir', 'Gaziantep', 'Giresun', 'Gümüşhane', 'Hakkari', 'Hatay', 'Isparta',
              'Mersin', 'İstanbul', 'İzmir', 'Kars', 'Kastamonu', 'Kayseri', 'Kırklareli', 'Kırşehir', 'Kocaeli', 'Konya', 'Kütahya',
              'Malatya', 'Manisa', 'Kahramanmaraş', 'Mardin', 'Muğla', 'Muş', 'Nevşehir', 'Niğde', 'Ordu', 'Rize', 'Sakarya',
              'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdağ', 'Tokat', 'Trabzon', 'Tunceli', 'Şanlıurfa', 'Uşak', 'Van', 'Yozgat',
              'Zonguldak', 'Aksaray', 'Bayburt', 'Karaman', 'Kırıkkale', 'Batman', 'Şırnak', 'Bartın', 'Ardahan', 'Iğdır',
              'Yalova', 'Karabük', 'Kilis', 'Osmaniye', 'Düzce']
    
    def extract_city(location):
        # 'location' bir string değilse, None döndür
        if not isinstance(location, str):
            return None
        
        # Şehir isimlerinin geçerli olduğu yerleri bulmak için regex kullanılır
        for city in cities:
            if re.search(r'\b' + re.escape(city) + r'\b', location):
                return city
        return None
    
    # Belirtilen sütundaki şehir isimlerini ayıklama
    dataframe[col_name] = dataframe[col_name].apply(extract_city)

In [46]:
city_simp(df,"Dogum Yeri")
city_simp(df,"Ikametgah Sehri")
city_simp(df, "Lise Sehir")

fill_missing_values(df,"Dogum Yeri","Bilinmiyor")
fill_missing_values(df,"Ikametgah Sehri","Bilinmiyor")
fill_missing_values(df,"Lise Sehir","Bilinmiyor")

In [47]:
values_and_nulls(df,"Dogum Yeri")

Dogum Yeri
Bilinmiyor    9765
İstanbul      8865
Ankara        4106
İzmir         2218
Bursa         1839
              ...
Kilis           97
Çankırı         93
Gümüşhane       78
Bayburt         75
Tunceli         50
Name: count, Length: 82, dtype: int64

NaN:  0

# Üniversite Adı

In [48]:
values_and_nulls(df,"Universite Adi")

Universite Adi
İSTANBUL ÜNİVERSİTESİ                      2083
MARMARA ÜNİVERSİTESİ                       1672
İSTANBUL TEKNİK ÜNİVERSİTESİ               1464
YILDIZ TEKNİK ÜNİVERSİTESİ                 1438
ORTA DOĞU TEKNİK ÜNİVERSİTESİ              1258
                                           ...
Brown University                              1
ALANYA HAMDULLAH EMİN PAŞA ÜNİVERSİTESİ       1
İstanbul Bilim Üniversitesi                   1
AVRUPA MESLEK YÜKSEKOKULU                     1
İstanbul Atlas Üniversitesi                   1
Name: count, Length: 527, dtype: int64

NaN:  132

In [49]:
all_letters_lowered(df,"Universite Adi")
fill_missing_values(df,"Universite Adi","Bilinmiyor")

In [50]:
values_and_nulls(df,"Universite Adi")

Universite Adi
i̇stanbul üni̇versi̇tesi̇                      2083
marmara üni̇versi̇tesi̇                        1672
i̇stanbul tekni̇k üni̇versi̇tesi̇              1464
yildiz tekni̇k üni̇versi̇tesi̇                 1438
orta doğu tekni̇k üni̇versi̇tesi̇              1258
                                               ...
selahaddin eyyubi üniversitesi                    1
alanya hamdullah emi̇n paşa üni̇versi̇tesi̇       1
turgut özal üniversitesi                          1
selahaddi̇n eyyubi̇ üni̇versi̇tesi̇               1
i̇stanbul atlas üniversitesi                      1
Name: count, Length: 527, dtype: int64

NaN:  0

# Üniversite Türü

In [51]:
all_letters_lowered(df,"Universite Turu")
fill_missing_values(df,"Universite Turu" , "devlet")
values_and_nulls(df, "Universite Turu")

Universite Turu
devlet    53516
özel      11608
Name: count, dtype: int64

NaN:  0

# Burslu ise Burs Yuzdesi

In [52]:
fill_missing_values(df,"Burslu ise Burs Yuzdesi",0)
values_and_nulls(df, "Burslu ise Burs Yuzdesi")

Burslu ise Burs Yuzdesi
0.0      54856
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        50
60.0        27
1.0         26
65.0        17
80.0        15
5.0         14
30.0        14
85.0        11
2.0         10
55.0         8
62.5         7
62.0         7
35.0         7
45.0         6
7.0          6
70.0         5
99.0         5
20.0         5
40.0         4
90.0         4
63.0         4
6.0          4
3.0          2
8.0          2
98.0         2
46.0         1
82.5         1
69.0         1
88.0         1
64.0         1
4.0          1
87.5         1
57.5         1
57.0         1
91.5         1
11.0         1
41.5         1
49.0         1
74.0         1
72.0         1
32.0         1
48.0         1
37.0         1
67.0         1
41.0         1
67.5         1
Name: count, dtype: int64

NaN:  0

In [53]:
bins = [-1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100']

df['Burslu ise Burs Yuzdesi'] = pd.cut(df['Burslu ise Burs Yuzdesi'], bins=bins, labels=labels, right=True)

In [54]:
values_and_nulls(df,"Burslu ise Burs Yuzdesi")

Burslu ise Burs Yuzdesi
0-10      54971
91-100     5057
41-50      3160
71-80      1019
21-30       799
61-70        44
51-60        37
81-90        18
31-40        13
11-20         6
Name: count, dtype: int64

NaN:  0

# Burs Aliyor mu?

In [58]:
all_letters_lowered(df, "Burs Aliyor mu?")

In [59]:
values_and_nulls(df,"Burs Aliyor mu?")

Burs Aliyor mu?
hayır    52249
evet     12875
Name: count, dtype: int64

NaN:  0

# Bölüm

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65124 entries, 0 to 65123
Data columns (total 44 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65124 non-null  int64
 1   Degerlendirme Puani                                        65124 non-null  float64
 2   Cinsiyet                                                   65124 non-null  int32
 3   Dogum Tarihi                                               19187 non-null  datetime64[ns]
 4   Dogum Yeri                                                 65124 non-null  object
 5   Ikametgah Sehri                                            65124 non-null  object
 6   Universite Adi                                             65124 non-null  object
 7   Universite Turu                                            65124 non-null  object
 8   Burslu ise Burs Yuzdesi                                    65124 non-null  category
 9   Burs Aliyor mu?                                            65124 non-null  object
 10  Bölüm                                                      64893 non-null  object
 11  Universite Kacinci Sinif                                   64750 non-null  object
 12  Universite Not Ortalamasi                                  62371 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              27780 non-null  object
 14  Lise Adi                                                   64740 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 65124 non-null  object
 17  Lise Turu                                                  64277 non-null  object
 18  Lise Bolumu                                                64115 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        59207 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         64893 non-null  object
 22  Burs Aldigi Baska Kurum                                    21147 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20962 non-null  object
 24  Anne Egitim Durumu                                         64718 non-null  object
 25  Anne Calisma Durumu                                        53228 non-null  object
 26  Anne Sektor                                                30587 non-null  object
 27  Baba Egitim Durumu                                         64117 non-null  object
 28  Baba Calisma Durumu                                        52506 non-null  object
 29  Baba Sektor                                                44746 non-null  object
 30  Kardes Sayisi                                              63992 non-null  object
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       63295 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               64009 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              32849 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        52282 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15606 non-null  object
 37  Stk Projesine Katildiniz Mi?                               36817 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  52284 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14598 non-null  object
 40  Ingilizce Biliyor musunuz?                                 58670 non-null  object
 41  Ingilizce Seviyeniz?                                       28592 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
 43  id                                                         65124 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(1), int32(1), int64(2), object(38)
memory usage: 21.7+ MB

# Universite Kacinci Sinif

In [61]:
values_and_nulls(df, "Universite Kacinci Sinif")

Universite Kacinci Sinif
2                21773
3                16956
4                13112
1                10260
Hazırlık          1275
5                  961
Mezun              178
6                  177
hazırlık            33
Yüksek Lisans       15
Tez                  7
0                    3
Name: count, dtype: int64

NaN:  374

In [62]:
all_letters_lowered(df,"Universite Kacinci Sinif")

In [63]:
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2                21773
3                16956
4                13112
1                10260
hazırlık          1308
5                  961
mezun              178
6                  177
yüksek lisans       15
tez                  7
0                    3
Name: count, dtype: int64

NaN:  374

In [84]:
# Mod ile doldurdum.
mode_value = df['Universite Kacinci Sinif'].mode()[0]
fill_missing_values(df,"Universite Kacinci Sinif", mode_value)
values_and_nulls(df,"Universite Kacinci Sinif")

Universite Kacinci Sinif
2    22147
3    16956
4    13112
1    10260
0     1308
5      961
7      178
6      177
8       15
9        7
0        3
Name: count, dtype: int64

NaN:  0

In [85]:
how_many_types(df,"Universite Kacinci Sinif")

Sütunda 2 farklı veri tipi var: {<class 'str'>, <class 'int'>}

In [86]:
grades = {
    '0': 7,
    '1' : 1,
    '2': 2,
    '3':3,
    '4':4,
    '5':5,
    '6':6,
    'hazırlık': 0,
    'mezun': 7,
    'yüksek lisans': 8,
    'tez': 9
}

df['Universite Kacinci Sinif'].replace(grades)

C:\Users\fbdog\AppData\Local\Temp\ipykernel_1680\1616783836.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Universite Kacinci Sinif'].replace(grades)

0        3
1        3
2        1
3        3
4        2
        ..
65119    2
65120    2
65121    1
65122    4
65123    3
Name: Universite Kacinci Sinif, Length: 65124, dtype: int64

In [87]:
how_many_types(df,"Universite Kacinci Sinif")

Sütunda 2 farklı veri tipi var: {<class 'str'>, <class 'int'>}

In [88]:
df["Universite Kacinci Sinif"].nunique()

11